/.metadata/
OnlineShoppingSystem/
demo/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
demo/.metadata/.log
demo/.metadata/.log
demo/.metadata/.plugins/org.eclipse.m2e.core/nexus/042d1497a8011186f276a1fd8e29d869/_0.cfs
*.cfs
demo/.metadata/.log
*.log
demo/.metadata/.log
*.log
*.json
*.properties
*.snap
*.snap
demo/.metadata/.plugins/org.eclipse.core.resources/.projects/demo/.markers
*.json
*.properties
*.snap
*.snap
*.snap
*.snap
*.dat
*.index
*.version
*.snap
*.index
*.snap
*.tree
*.resources
*.snap
*.xmi
demo/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
demo/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
demo/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.xmi
*.snap
*.xml
*.resources
*.snap
*.xmi
*.ser
*.state
*.json
*.properties
*.snap
*.snap
*.snap
*.snap
*.index
*.snap
*.resources
*.snap
*.xmi
*.ser
